<%= form_for @website, :html => {:class => 'form-horizontal'} do |f| %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'input-xlarge', :rows => 3 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :subdomain, 'Url', :class => 'control-label' %>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :subdomain, :class => 'span2', :id => 'appendedInput' %>
          <span class="add-on">.mobilecloudhq.com</span>
        </div>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :website_feed_url, 'Website Feed Url', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :website_feed_url, :class => 'text_field' %>
      </div>
    </div>




    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  websites_path, :class => 'btn' %>
    </div>
<% end %>
