<ul data-role="listview" data-theme="c" data-dividertheme="d" data-counttheme="e">
  <% if @website_feed_entries.present? %>
      <% @website_feed_entries.each do |feed_entry| %>
          <li>
            <h2>
              <%= link_to feed_entry.title, website_feed_entry_path(feed_entry.id.to_s)  %>
              <a href="#">
                <%= feed_entry.title %>
              </a>
            </h2>
          </li>
      <% end %>
  <% end %>
</ul>